<li [ngClass]="{'list-group-item' : true,
               'list-group-item-success': isLoved(), 
               'list-group-item-danger': !isLoved()}">

  <span class="col-xs-6" style="font-size: 2em"> {{title }} </span>

  <span class="col-xs-6" style="text-align: right">{{created_at | date:'mm-dd-yyyy , hh:mm a'}} </span>
  <div class="container">
    <p style="clear:both;">
      {{content}}
    </p>
  </div>
  <button (click)="plusLove()" class="btn btn-success">ouiii</button>
  <button (click)="moinsLove()" class="btn btn-danger">nonnnn</button>
</li>